html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: 'Ubuntu', sans-serif; /* this should be the rest of the output you got from Google fonts */
  }
  html {
    background-color: #C02424;
  }
  body {
    width: 600px;
    margin: 0 auto;
    background-color: #b9c0c2;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }
  h1 {
    margin: 0;
    padding: 20px 0;
    color: #C02424;
  }
  img {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 50%;
  }